{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Upload Dataset</h1>
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="myfile" name="myfile" required>
                <label class="custom-file-label" for="myfile">Select a file:</label>
                <div class="invalid-feedback">Please choose a file.</div>
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>
{% endblock %}
